plaintext
Copy code

.NET Core
project.lock.json
project.fragment.lock.json
artifacts/
Debug/


StyleCop
StyleCopReport.xml

Files built by Visual Studio
*.i
*_p.c
*h.h
*.ilk
*meta
*.obj
*.iobj
*-pch
*.pdb
*.ipdb
*-pgc
*.pgd
*.rsp
*.sbr
*.cache
#*.json


macOS specific
.DS_Store